.bozz-c-Btn {
    display: inline-block;
    background-color: $color_secondary;
    padding: 10px 20px 9px;
    border-radius: 30px;
    color: $color_white;
    @include fs(16px, 22px);
    text-transform: uppercase;
    font-family: $font_family_base;
}