.bozz-c-CreateZone {
    padding-bottom: 40px;

    margin-top: 90px;
    

    &-form {
        max-width: 500px;
        margin: 40px auto;
    }

    &-title {
        margin-top: 20px;
    }
    &-comn {
        overflow: hidden;
        height: 0;



        &-list {

            &.hidden {
                display: none
            }
        }

        &-item {

            @include fs(14px,20px);
            padding: 5px 10px;
            border: solid 1px $color_secondary;
            color: $color_secondary;
            text-align: left;
            cursor: pointer;

            &:hover {
                background-color: rgba($color_secondary, 0.2);
            }

            & + & {
                border-top: 0;
            }
        }
    }

    &-btnNext {

        &.showNextSection {
            display: none;
            & + .bozz-c-CreateZone-comn {
                height: auto;
                overflow: inherit;

            }
        }
    }

    &-footer {
        margin-top: 30px;
    }

    @include mq-to(small) {
        margin-top: 0;
    }


}