.bozz-c-SingleCommune {

    margin-top: 30px;
    padding-top: 20px;

    & + & {
        margin-top: 20px;
        border-top: solid 1px $color_border;
    }

    &-imgList {
        @include flex();
        @include justify-content(space-between);

        &-item {

            max-width: calc(100% / 5 - ((10px * 5) / 4));
            width: 100%;

            & + & {
                margin-left: 10px;
            }   

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}