.bozz-c-ZoneList {
    margin-top: 60px;



        &-item {
            padding: 40px 0;
            
            &:nth-child(odd) {
                background-color: rgba($color_main, 0.1);
            }
        }
        


    &-head {
        @include flex();
        @include justify-content(space-between);
        @include align-items(center);
        margin-bottom: 20px;
    }

    &-action {
        margin-left: auto;
        text-align:right;
        max-width: 120px;

    }

    &-title {
        margin-right: auto;
        margin-left: 0;
    }

    &-modify {
        margin-bottom: 10px;
    }

    @include mq-to(small) {
        &-head {
            @include flex-direction(column);
            margin-bottom: 0;
        }

        &-action {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    
        &-title {
            margin-right: auto;
            margin-left: auto;
        }
    }
}