@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-family: Montserrat, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol {
  margin: 0;
}

ul, ol {
  padding-left: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=tel],
input[type=url],
input[type=search],
input[type=file],
textarea,
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: 0;
}

.bozz-u-hspace {
  padding-left: 20px;
  padding-right: 20px;
}

.bozz-u-wrapper {
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bozz-c-Btn {
  display: inline-block;
  background-color: #2AC0CC;
  padding: 10px 20px 9px;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.375;
  text-transform: uppercase;
  font-family: Montserrat, Arial, sans-serif;
}
.bozz-c-Btn.danger {
  background-color: #9c4545;
}
.bozz-c-Btn.secondary {
  background-color: #FABB3A;
}
.bozz-c-Btn.small {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.1666666667;
}

.bozz-c-Fields {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
}
.bozz-c-Fields-label {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  background-color: #2AC0CC;
  padding: 3px 10px;
  position: absolute;
  top: -11px;
  left: 22px;
  font-weight: bold;
}
.bozz-c-Fields input, .bozz-c-Fields select, .bozz-c-Fields textarea {
  display: block;
  border: solid 2px rgba(42, 192, 204, 0.2);
  padding: 17px 22px 10px;
  border-radius: 30px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.375;
  width: 100%;
  color: #2AC0CC;
  font-family: Montserrat, Arial, sans-serif;
}
.bozz-c-Fields input:focus, .bozz-c-Fields select:focus, .bozz-c-Fields textarea:focus {
  border: solid 2px #2ac0cc;
}

.bozz-c-Heading-h1, .bozz-c-Heading-h2, .bozz-c-Heading-h3, .bozz-c-Heading-h4 {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background: #FABB3A;
  padding: 10px 20px;
  display: inline-block;
  margin: 10px auto;
}
.bozz-c-Heading-h1.color_secondary, .bozz-c-Heading-h2.color_secondary, .bozz-c-Heading-h3.color_secondary, .bozz-c-Heading-h4.color_secondary {
  background-color: #2AC0CC;
}
.bozz-c-Heading-h1 {
  font-size: 35px;
  font-size: 2.1875rem;
  line-height: 1.2;
}
.bozz-c-Heading-h2 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.2;
}
.bozz-c-Heading-h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.25;
}
.bozz-c-Heading-h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.375;
}
@media screen and (max-width: 767px) {
  .bozz-c-Heading-h1 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
  .bozz-c-Heading-h2 {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.1;
  }
  .bozz-c-Heading-h3 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.375;
  }
  .bozz-c-Heading-h {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.5714285714;
  }
}

.bozz-c-CreateZone {
  padding-bottom: 40px;
  margin-top: 90px;
}
.bozz-c-CreateZone-form {
  max-width: 500px;
  margin: 40px auto;
}
.bozz-c-CreateZone-title {
  margin-top: 20px;
}
.bozz-c-CreateZone-comn {
  overflow: hidden;
  height: 0;
}
.bozz-c-CreateZone-comn-list.hidden {
  display: none;
}
.bozz-c-CreateZone-comn-item {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  padding: 5px 10px;
  border: solid 1px #2AC0CC;
  color: #2AC0CC;
  text-align: left;
  cursor: pointer;
}
.bozz-c-CreateZone-comn-item:hover {
  background-color: rgba(42, 192, 204, 0.2);
}
.bozz-c-CreateZone-comn-item + .bozz-c-CreateZone-comn-item {
  border-top: 0;
}
.bozz-c-CreateZone-btnNext.showNextSection {
  display: none;
}
.bozz-c-CreateZone-btnNext.showNextSection + .bozz-c-CreateZone-comn {
  height: auto;
  overflow: inherit;
}
.bozz-c-CreateZone-footer {
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .bozz-c-CreateZone {
    margin-top: 0;
  }
}

.bozz-c-SingleCommune {
  margin-top: 30px;
  padding-top: 20px;
}
.bozz-c-SingleCommune + .bozz-c-SingleCommune {
  margin-top: 20px;
  border-top: solid 1px #a0a0a0;
}
.bozz-c-SingleCommune-imgList {
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.bozz-c-SingleCommune-imgList-item {
  max-width: calc(100% / 5 - ((10px * 5) / 4));
  width: 100%;
}
.bozz-c-SingleCommune-imgList-item + .bozz-c-SingleCommune-imgList-item {
  margin-left: 10px;
}
.bozz-c-SingleCommune-imgList-item img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .bozz-c-SingleCommune-imgList {
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .bozz-c-SingleCommune-imgList-item {
    max-width: calc(100% / 5 - ((3px * 5) / 4));
    width: 100%;
  }
  .bozz-c-SingleCommune-imgList-item + .bozz-c-SingleCommune-imgList-item {
    margin-left: 0;
  }
  .bozz-c-SingleCommune-imgList-item img {
    width: 100%;
    height: auto;
  }
}

.bozz-c-Section {
  margin-top: 60px;
}
.bozz-c-Section + .bozz-c-Section {
  padding-top: 60px;
  border-top: solid 1px #a0a0a0;
}
@media screen and (max-width: 767px) {
  .bozz-c-Section {
    margin-top: 30px;
  }
}

.bozz-c-ZoneList {
  margin-top: 60px;
}
.bozz-c-ZoneList-item {
  padding: 40px 0;
}
.bozz-c-ZoneList-item:nth-child(odd) {
  background-color: rgba(250, 187, 58, 0.1);
}
.bozz-c-ZoneList-head {
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 20px;
}
.bozz-c-ZoneList-action {
  margin-left: auto;
  text-align: right;
  max-width: 120px;
}
.bozz-c-ZoneList-title {
  margin-right: auto;
  margin-left: 0;
}
.bozz-c-ZoneList-modify {
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .bozz-c-ZoneList-head {
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
  }
  .bozz-c-ZoneList-action {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .bozz-c-ZoneList-title {
    margin-right: auto;
    margin-left: auto;
  }
}

.bozz-c-CommuneItem {
  padding: 30px 0;
}
.bozz-c-CommuneItem-inner {
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.bozz-c-CommuneItem + .bozz-c-CommuneItem {
  border-top: solid 1px #a0a0a0;
}
.bozz-c-CommuneItem-title {
  width: 100%;
  text-align: center;
}
.bozz-c-CommuneItem-remove {
  background-color: #9c4545;
  width: 40px;
  height: 40px;
  position: relative;
  margin-left: auto;
}
.bozz-c-CommuneItem-remove span {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
}
.bozz-c-CommuneItem-remove svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bozz-c-CommuneItem-imgList {
  margin: 20px 0 30px;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: calc( 100% - 60px);
}
.bozz-c-CommuneItem-imgList-item {
  max-width: calc(100% / 5 - ((10px * 5) / 4));
  width: 100%;
}
.bozz-c-CommuneItem-imgList-item + .bozz-c-CommuneItem-imgList-item {
  margin-left: 10px;
}
.bozz-c-CommuneItem-imgList-item img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .bozz-c-CommuneItem {
    position: relative;
  }
  .bozz-c-CommuneItem-imgList {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }
  .bozz-c-CommuneItem-imgList-item {
    max-width: calc(50% - 5px);
    width: 100%;
    margin-bottom: 5px;
  }
  .bozz-c-CommuneItem-imgList-item + .bozz-c-CommuneItem-imgList-item {
    margin-left: 0;
  }
  .bozz-c-CommuneItem-remove {
    position: absolute;
    top: 30px;
    right: 10px;
  }
}

.bozz-c-Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.bozz-c-Modal-inner {
  max-width: 600px;
  width: 100%;
  padding: 30px;
  background-color: #fff;
  position: fixed;
  top: 30%;
  left: calc(50% - 200px);
}
.bozz-c-Modal-btn button {
  margin: 10px 10px 0;
}

.bozz-u-txt-uppercase {
  text-transform: uppercase;
}

.bozz-u-txt-center {
  text-align: center;
}

.bozz-u-txt-left {
  text-align: left;
}

.bozz-u-txt-right {
  text-align: right;
}

.bozz-u-txt-bold {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
